<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de estudiantes</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <h1>Registro de estudiantes</h1>
  <form action="/estudiantes" method="POST">
    <label for="nombre">Nombre: <input type="text" name="nombre" id="nombre" required></label>
    <label for="edad">Edad: <input type="number" name="edad" id="edad" required></label>
    <label for="curso">Curso: <input type="text" name="curso" id="curso"></label>
    <button type="submit">Registrar estudiante</button>
  </form>

  <ul>
    <% estudiantes.forEach(estudiante => { %>
      <li>
        <p><strong>Nombre:</strong> <%= estudiante.nombre %></p>
        <p><strong>Edad:</strong> <%= estudiante.edad %></p>
        <p><strong>Curso:</strong> <%= estudiante.curso %></p>
        <a href="/estudiantes/delete/<%= estudiante.id %>">Eliminar</a>
        <a href="/estudiantes/edit/<%= estudiante.id %>">Editar</a>
      </li>
    <% }) %>
  </ul>

</body>
</html>